/* line 2, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
header {
  position: relative;
  height: 50px;
}

/* line 5, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
nav {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #212121;
  z-index: 2;
}

/* line 11, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.menu {
  display: flex;
  justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}

/* line 17, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.menu .menu_link {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
}

/* line 21, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.menu .menu_item {
  border-right: 2px dotted black;
  padding-right: 28px;
}

/* line 24, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.subheader {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
}

/* line 30, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.subheader .subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}

/* line 34, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.subheader .subheader_official {
  margin-top: 6px;
  opacity: 0.5;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
}

/* line 40, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.subheader .subheader_call {
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
  margin-top: 19px;
  text-align: right;
}

/* line 46, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.subheader .subheader_phone {
  display: block;
  margin-top: 8px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
  line-height: 12px;
}

/* line 55, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.subheader .subheader_btn {
  margin-top: 19px;
  width: 172px;
  height: 46px;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

/* line 68, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.promo {
  min-height: 800px;
  background: url("../icons/uber_bg.png") center center/cover no-repeat;
  padding: 150px 0 135px 0;
}

/* line 72, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.promo .promo_header {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 60px;
  margin: 0;
  text-align: center;
}

/* line 80, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.promo .promo_subheader {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-top: 22px;
  text-align: center;
}

/* line 89, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.promo .promo_descr {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-top: 23px;
}

/* line 96, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.promo .promo_btn {
  display: block;
  margin: 118px auto 0 auto;
  width: 259px;
  height: 63px;
  box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

/* line 110, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.reasons {
  padding: 71px 0 65px 0;
}

/* line 112, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.reasons .reasons_block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

/* line 117, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.reasons .reasons_block .reasons_round {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 26px;
  width: 113px;
  height: 113px;
  background-color: #1eacc7;
  border-radius: 100%;
}

/* line 126, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.reasons .reasons_block .reasons_descr {
  width: 343px;
}

/* line 128, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.reasons .reasons_block .reasons_descr .reasons_subtitle {
  line-height: 21px;
  color: #1eacc7;
  font-size: 17px;
  font-weight: 400;
}

/* line 133, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.reasons .reasons_block .reasons_descr .reasons_text {
  color: #202020;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
}

/* line 138, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.label {
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #000000;
  color: #ffffff;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
}

/* line 152, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.label_white {
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #ffffff;
  color: black;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
}

/* line 166, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.title {
  margin-bottom: 0;
  margin-top: 38px;
  color: #222222;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

/* line 174, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.require {
  min-height: 764px;
  padding: 68px 0 84px 0;
}

/* line 177, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.require .require_block {
  margin: 33px 0;
}

/* line 179, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.require .require_block .require_block_nbm {
  margin-bottom: 0px;
}

/* line 181, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.require .require_title {
  color: #1CA8C3;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

/* line 187, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.require .require_descr {
  color: #1CA8C3;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
}

/* line 193, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.require .require_list {
  list-style-type: none;
  padding-left: 50px;
  margin-top: 22px;
  display: flex;
  flex-direction: column;
}

/* line 199, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.require li {
  color: #222;
  display: inline-block;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 10px;
  margin-left: 15px;
}

/* line 208, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.require li:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  transform: translate(-5px, -1px);
  width: 21px;
  height: 20px;
  background: url(../icons/Rectangle.svg);
}

/* line 218, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.require .require_block_nbm li:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  transform: translate(-5px, -1px);
  width: 21px;
  height: 20px;
  background: url(../icons/red_sign.png);
}

/* line 226, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.require .require_block_nbm .require_title {
  color: #FF5656;
}

/* line 228, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.world {
  min-height: 720px;
  width: 1920px;
  padding: 35px;
  background: url("../icons/world_bg.png") center center/cover no-repeat;
}

/* line 234, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.world .world_descr {
  color: #1FBAD6;
  font-size: 15px;
  font-style: normal;
  font-weight: 250;
  line-height: 68px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 400px;
}

/* line 243, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.title_white {
  margin-bottom: 0;
  margin-top: 38px;
  color: #fff;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

/* line 251, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.subtitle_white {
  color: #FFF;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

/* line 258, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.mobile {
  min-height: 864px;
  background: url(../icons/mobile_bg.png) center center/cover no-repeat;
  
}

/* line 262, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.mobile .subtitle {
  color: #222;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  line-height: 21px;
  padding-bottom: 10px;
}

/* line 269, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.mobile .mobile_item_1 {
  background: url("../icons/card1.png") center center/cover no-repeat;
}

/* line 271, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.mobile .mobile_item_2 {
  background: url("../icons/card2.png") center center/cover no-repeat;
}

/* line 273, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.mobile .mobile_item_3 {
  background: url("../icons/card3.png") center center/cover no-repeat;
}

/* line 275, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.mobile .mobile_item_4 {
  background: url("../icons/card4.png") center center/cover no-repeat;
}

/* line 277, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.mobile .mobile_item_5 {
  background: url("../icons/card5.png") center center/cover no-repeat;
}

/* line 279, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.mobile .mobile_item_6 {
  background: url("../icons/card6.png") center center/cover no-repeat;
}

/* line 281, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.mobile .mobile_item {
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
  padding-top: 92px;
  position: relative;
}

/* line 288, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.mobile .mobile_item .mobile_item_plus {
  background-color: black;
  border-radius: 100%;
  margin: 0 auto;
  width: 29px;
  height: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translate(-50%);
  cursor: pointer;
}

/* line 302, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.mobile .mobile_item .mobile_item_subtitle {
  color: #FFF;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  text-transform: uppercase;
}

/* line 309, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.mobile .row {
  margin-top: 32px;
}

/* line 311, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.choice {
  min-height: 898px;
  position: relative;
  background: url("../icons/bg_white.png") center center/cover no-repeat;
}

/* line 316, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.choice .container .black {
  background: url("../icons/bg_black.png") center center/cover no-repeat;
  padding-top: 59px;
  display: block;
  margin-left: 0;
  min-height: 398px;
}

/* line 322, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.choice .auto {
  position: absolute;
  display: block;
  margin-top: 234px;
  margin-left: 350px;
}

/* line 327, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.choice .choice_h4 {
  margin-top: 409px;
  text-align: center;
}

/* line 330, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.choice_h2 {
  color: #FFF;
  text-align: center;
  margin-top: 51px;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
}

/* line 339, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.choice_h3 {
  color: #ffffff;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  line-height: 21px;
  padding-bottom: 10px;
}

/* line 346, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.footer {
  padding: 14px 23px 39px 23px;
  position: relative;
}

/* line 349, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.footer .footer_social {
  width: 33%;
  display: flex;
  display: inline-block;
  flex-direction: row;
}

/* line 355, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.footer a:hover {
  text-decoration: none;
}

/* line 357, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.footer_social_item {
  margin-top: 40px;
  height: 35px;
  width: 35px;
  border-radius: 100%;
  background-color: #000000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 4px;
  width: 32px;
  height: 32px;
  background-color: #070716;
  border-radius: 100%;
}

/* line 375, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.footer_divider {
  display: block;
  margin: 12px auto;
}

/* line 378, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.footer_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 32px;
}

/* line 383, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.footer_wrapper > div {
  width: 33%;
}

/* line 385, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.footer_wrapper > div:nth-child(3) {
  display: flex;
  justify-content: flex-end;
}

/* line 388, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.footer_social {
  width: 160px;
  display: flex;
  justify-content: space-between;
}

/* line 392, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.social_links_main {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

/* line 396, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.social_links_main_item {
  color: #070716;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 68px;
  text-transform: uppercase;
}

/* line 403, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.social_links_sub {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/* line 407, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.social_links_sub_item {
  color: #999999;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}

/* line 412, ../../../Desktop/Projects/Project 1 (uber)/src/sass/general.sass */
.footer_links_lang {
  color: #1FBAD6;
  text-align: center;
  display: block;
  margin: 0 auto;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 68px;
  text-transform: uppercase;
}

/*# sourceMappingURL=general.css.map */